*{  

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/back2.png);
    background-size: cover;

}

.container {

    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container p{ 
    color: #000;
    font-size: 1.5em;
    text-align: justify
}
.conteudo img{
    float: left;         
    margin-right: 10px;
    width: 240px;          
}


#cabecalho {
    background-color: #06C;
    margin-bottom: 60px;
}

#cabecalho #logo{
    width: 70px;
}

#cabecalho #menu ul{
    display: flex;
    list-style: none;
}

#cabecalho #menu a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all 0.2s linear;
}

#cabecalho #menu a:hover{
    background-color: rgb(171, 207, 244);
}

#cabecalho #menu .submenu {
    display: none;
    position: absolute;
    background-color: #000;
    z-index: 1;
  

}

#cabecalho #menu li:hover .submenu{
    display:  block;
}

#cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#banners img {
    width: 100%;
    height: 300px;   
    object-position: center;
    display: block;
    text-align: center;
}



.titulo{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

#titulo-editado{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

#rodape {
    
    margin-top: auto;
    width: 100%;
    background-color: rgb(34, 93, 132);
    color: #fff;
    text-align: center;
    padding: 15px ;
    
}

#rodape a{
    text-decoration: none;
    color: #fff;
}

#rodape a:hover{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center ;
}

#galeria img {  
    padding: 10px;
    background-color: transparent;
    border: #06C 5px solid;
    width: 100%;
    height: 230px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

#galeria img:hover {
    transform: scale(1.1);
}

.cards-curiosidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.cards-curiosidades .card {
    background: #0d1b2a;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.3);
    border: 1px solid rgba(0, 150, 255, 0.2);
    transition: 0.3s ease;
    margin-bottom: 30px;
}

.cards-curiosidades .card h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #66ccff;
    text-shadow: 0 0 6px #0099ff;
}

.cards-curiosidades .card p {
    margin-top: 10%;
    text-align: justify;
    font-size: 1.5em;
    color: #e6e6e6;
}

.cards-curiosidades .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 150, 255, 0.6);
}


